.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.left-side {
    flex: 1;
    text-align: center;
}

.left-side img {
    max-width: 100%;
    height: auto;
}

.right-side {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ccc;
}

.right-side h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: calc(100% - 10px); /* Adjust as needed */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
}
